/* General Styles */
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #f2f2f2;
  }
  
  /* Active Link Styling */
.nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid white;
  }
  
  /* Adjust Logo Size */
  .navbar-brand img {
    width: 70px; 
    height: auto;
  }
  
  
  /* Contact Us Section */
.contact-container {
    background-color: #131D26;
    color: #F2F2F2;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .contact-container h2 {
    text-align: center;
    color: #F2F2F2;
    margin-bottom: 20px;
  }
  
  .contact-container p {
    text-align: center;
    margin: 5px 0;
  }
  
  .contact-container .address, 
  .contact-container .phone {
    font-weight: 600;
  }
  
  .contact-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #F2F2F2;
  }
  
  .contact-form input, 
  .contact-form textarea {
    background-color: #F2F2F2;
    border: 1px solid #59331D;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  .contact-form button {
    background-color: #59331D;
    color: #F2F2F2;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #131D26;
    color: #F2F2F2;
    border: 1px solid #59331D;
  }
    /* Footer Section */
    .footer-section {
        color: #082B59;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 0.9rem;
        padding: 2rem;
      }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .contact-container {
      padding: 15px;
      margin: 15px;
    }
  
    .contact-form input, 
    .contact-form textarea {
      font-size: 12px;
    }
  
    .contact-form button {
      font-size: 14px;
    }
  }